.backgroundcontainer{
    background-image: url("./images/3784896.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    display: flex;
}

.divcard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* height: 100vh; */
    flex-direction: column;
    justify-items: center;
    /* spadding: 5rem; */
    
}
.card{
    border-radius: 2rem;
}
.ordiv{
    display: flex;
    justify-content: center;
}
.forgotpassword{
    display: flex;
    justify-content: flex-end;
    font-size: x-small;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
    /* background-color: orange; */
}

/* .logoclass{
    display: flex;
    justify-content: flex-start;
    align-self: auto;
} */

.card{
    margin: 5vh;
}