body{
    font-family: 'Lobster', cursive;
}
.backgroundcontainer{
    background-image: url("./images/3784896.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: auto;
}



.card{
    justify-content: end;
}
.ordiv{
    display: flex;
    justify-content: center;
}
.forgotpassword{
    display: flex;
    justify-content: flex-end;
    font-size: x-small;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
