body {
  font-family: "Lobster", cursive;
}
.backgroundcontainer {
  background-image: url("./images/pexels-dziana-hasanbekava-7809803.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  /* max-width: 100vw; */
  /* width: 100vh; */
}

.card {
  width: 70%;
}
.ordiv {
  display: flex;
  justify-content: center;
}
.forgotpassword {
  display: flex;
  justify-content: flex-end;
  font-size: x-small;
}
.centerclass {
  display: flex;
  justify-content: center;
}
